
body{
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;

}

.introduction
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 40px;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: rgb(8, 0, 0);
    margin-left: 260px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;

  }
  
  ul li a:hover {
    border-radius: 4px;
    background-color: #c36464;
    color:#ffffff
  }
 
 
 /* Admin */
 .blank-box{
    width: 75%;
    background-color: #ffffff;
    margin: 90px auto;
    padding: 40px 60px;
    border-radius: 25px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  }
  .editprices{
    /* background: linear-gradient(135deg, #B01111, #D22B2B); */
    width: fit-content;
    padding: 12px 1px;
    border-radius: 18px;
    margin: 30px 0 20px 0px; 
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  }
  .editprices p{
    color: #070707;
    font-weight: 600;
    font-size: 2.1rem;
    margin: 0;
    letter-spacing: 0.5px;
    font-family: "Montserrat", sans-serif;
  }
  .material {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 20px;
  }
  
  .row {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  .input-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
  }
  
  .field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .label {
    font-size: 13px;
    margin-bottom: 5px;
    color: #333;
  }
  
  .typing-box {
    width: 90%;
    height: 30px;
    border: 1.5px solid #020101;
    padding-left: 8px;
    transition: 0.2s ease;
  }
  button {
    align-self: center;
    width: 200px;
    height: 45px;
    background: linear-gradient(135deg, #B01111, #D22B2B);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    font-size: 1rem;
    letter-spacing: 0.5px;
    cursor: pointer;
    margin: 30px auto 50px auto;
  }
  button:hover {
  transform: translateY(-2px);
  background: linear-gradient(135deg, #9d0f0f, #c41f1f);
  box-shadow: 0 6px 14px rgba(176, 17, 17, 0.35);
}
.result {
    margin-top: 10px;
    font-size: 14px;
    color: #010000;
    font-weight: 500;
    background-color: #f9f9f9;
    padding: 6px 10px;
    border-left: 6px solid #B01111;
    border-radius: 6px;
    width: fit-content;
}
