
body{
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;

}

#orders {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  gap: 20px; 
}

.orderTile{
  margin-top: 2%;
  display: flex;
  flex-direction: column; 
  align-items: flex-start;
  padding: 20px;
  font-size: 16px;
  background-color: #ffffff;
  color: #000000;
  border-radius: 25px;
  transition: all 0.3s ease;
  box-sizing: border-box;
  width: 300px; 
  min-height: 70vh;
  box-shadow: 2px 2px 3px #c3646436;
  font-weight: 200;
}

.introduction
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
    box-sizing: border-box;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 40px;
  }
  
  ul li {
    float: left;
  }
  
  ul li a {
    display: block;
    color: rgb(8, 0, 0);
    margin-left: 260px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.3s ease;

  }
  
  ul li a:hover {
    border-radius: 4px;
    background-color: #c36464;
    color:#ffffff
  }

  button{
    display: block;
    margin: 10px auto; /* centers horizontally */
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #B01111;
    color: white;
    border: none;
    border-radius: 4px;
    transition: all 0.5s ease;
  }

  button:hover{
    transform: scale(1.1) perspective(0.5px);
    background-color: #c36464
    
    
  }
