
body{
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;
}

.orderPDF{
    background-color: white;
    margin: 2%;
    width: 686px;
    height: 800px;
    border-radius: 30px;
    padding: 2%;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 120%;
}
hr.solid{
    border-top: 3px solid  rgb(245, 245, 245);
}
#issued-to{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
#date{
    margin-left: 50%;
    font-weight: 600;
}
#bill-to{
    font-weight: 600;
}
#title{
    font-weight: 600;
}
.title-output{
    width: 100px;
    height: 300px;
    padding: 10px;
    margin: 0;
}
.quantity-output{
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
#total{
    margin-left: 80%;
}
.issuedNameOutput{
    font-size: 16px;
    font-weight: 400;
}