
body{
    background-color: #f5f5f5;
    font-family: "Open Sans", sans-serif;
   
}

.orderPDF{
    background-color: white;
    margin: 2%;
    width: 686px;
    min-height: 800px;
    border-radius: 30px;
    padding: 2%;
    text-align: left;
    font-family: "Open Sans", sans-serif;
    font-size: 120%;
}
hr.solid{
    border: none; 
    border-top: 2px solid #f5f5f5; 
    margin: 20px 0; 
    background-color: transparent; 
}

.label{
    width: 20%;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}


.title-output{
    max-width: 10%;
    min-height: 200px;
    margin: 0;
}
.quantity-output{
  width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
#total{
    margin-left: 80%;
}

.row{
    display: flex;
    width: 60%;
    justify-content: space-between;
}
.row2{
    display: flex;
    width: 74%;
    justify-content: space-between;
}
.row3{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#title{
    font-size: 90%;
}
#quantity{
    font-size: 90%;
}
#amount{
    font-size: 90%;
}
#issued-to{
    font-size: 90%;
}
#date{
    font-size: 90%;
}
#requested-by{
    font-size: 90%;
}
#bill-to{
    font-size: 90%;
}
